<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <div class="title">
            <h1>Add a New Song</h1>
        </div>
        <form action="/add" method="POST">
            <input type="text" name="title" placeholder="Title" required>
            <input type="text" name="artist" placeholder="Artist" required>
            <button id="add-btn" type="submit">Submit</button>
        </form>
    </body>
</html>