<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <div id="top">
            <div class="title">
                <h1>Your Library</h1> 
            </div>
        </div>
        <div>
            <% songs.forEach((song) => { %>
            <p>
                <span class="song-title"><%= song.title %></span>
                <span class="song-artist">- <%= song.artist %></span>
            </p>
            <% }) %>
        </div>

        <a href="/add">
            <button type="button">Add Song</button>
        </a>
    </body>
</html>